<h2> Trip Information </h2>

<h3><b><%= @trip.trip_nickname %></b></h3>

<%= link_to @trip.user.email, user_path(@trip.user) %> is going to 
<b><%= link_to @trip.destination.city, destination_path(@trip.destination) %></b><br><br>

from <b><%= @trip.start_date %></b> to <b><%= @trip.end_date %></b><br><br>

<%= link_to "Edit This Trip", edit_trip_path(@trip) %>

<%= @trip.attractions.each do |attraction| %>
  <li><%= link_to attraction.name, attraction %></li>
<% end %>

<br><%= link_to "See All Your Trips", user_trips_path(current_user) %>
