<h2> Trip Information </h2>

<h3><b><%= @trip.trip_nickname %></b></h3>

is from <b><%= @trip.start_date %></b> to <b><%= @trip.end_date %></b><br><br>

in <b><%= link_to @trip.destination.city, destination_path(@trip.destination) %></b><br>

<br><%= link_to "See All Your Trips", user_trips_path(current_user) %>
