<h3> Trip Information </h3>
<h3 id= "trip-nickname"><b><%= @trip.trip_nickname %></b></h3>


<p id="username"><%= link_to @trip.user.username, user_path(@trip.user)%></p> is going to 

<b id="city"><%= link_to @trip.destination.city, destination_path(@trip.destination) %></b><br>

<% if @trip.start_date %>
from <span id="start-date"><%= @trip.start_date %></span> to <span id="end-date"><%= @trip.end_date %></span><br><br>
<% end %>

  <h3 id="city2"><%= @trip.destination.city%> To Do List</h3>

<div id="attractions">
  <% @trip.attractions.each do |attraction| %>
    <li><span id="attraction-name"><%= link_to attraction.name, attraction %></span>, <span id="attraction-type"><%= attraction.attraction_type %></span>
      
      <%= link_to "More Info", attraction_path(attraction), :class => "js-more-attraction"%>
        <div class="attraction-info-<%= attraction.id %>">
        </div>
    </li>
    
  <% end %>
</div>

  <br><br>
  <%= link_to "Be Inspired - Click for the Next Trip", trip_path(@trip), :class => "js-next"%>
  <p>Trip number <span id="trip-id"><%= @trip.id %></span></p>

  