<h2> Trip Information </h2>

<h3><b><%= @trip.trip_nickname %></b></h3>

is from <%= @trip.start_date %> to <%= @trip.end_date %><br>

<%= @trip.destination.city %>

<br><%= link_to "See All Your Trips", user_trips_path(current_user) %>
