<!DOCTYPE html>
<html>
<head>
  <title>Vacay</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1> Vacay </h1>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>

  <% if user_signed_in? %><br><br>
    <%= link_to('Create a new trip', new_trip_path) %><br>
    <%= link_to('Log Out', destroy_user_session_path, :method => :delete) %>      
  <% end %>

</body>
</html>
