<!DOCTYPE html>
<html>
<head>  
<!-- Bootstrap CSS CDN -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <title>Vacay</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul class="nav nav-pills">
  <li role="presentation" class="dropdown active">
  <% if user_signed_in? %>
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      Trips <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to('See All Your Trips', user_trips_path(current_user)) %></li>
      <li><%= link_to('Add a New Trip', new_user_trip_path(current_user))%> </li>
    </ul>
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      Destinations <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li> <%= link_to('See All Destinations', destinations_path) %></li>
      <li><%= link_to('New Destination', new_destination_path) %> </li>
    </ul>
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      Attractions <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to('See All Attractions', attractions_path) %></li>
      <li><%= link_to('New Attraction', new_attraction_path) %></li>
    </ul>
    <li role="presentation" class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        Your Account <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><%= link_to('Your Profile', user_path(current_user)) %> </li>
        <li><%= link_to('Edit Your Profile', edit_user_path(current_user)) %> </li>
        <li><%= link_to('Log Out', destroy_user_session_path, :method => :delete) %></li>
      </ul>
    <% end %>

</ul>






<h1> Vacay </h1>
  <% if user_signed_in? %><br>
    You are signed in as <b><%= current_user.email %></b>
  <% end %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
