<h2>Attraction Info</h2>

<b>Name:  </b><%= @attraction.name %><br>
<b>Url: </b><%= link_to @attraction.url, @attraction.url %><br>
<b>Attraction Type: </b><%= @attraction.attraction_type %><br>
<b>City:  </b><%= @attraction.destination.city %><br></b>

<%= link_to "Edit this Attraction", edit_attraction_path(@attraction) %>

<%= link_to "Delete this Attraction", @attraction, method: :delete, data: { confirm: "Confirm"} %></li>
